//-------------------------------------------->
//--> Global color values
//-------------------------------------------->

//--> color SCheme
$color-primary: #14213d;
$color-secondary: #fca311;
$color-light: #ffffff;
$color-light-two: #f1f1f1;
$color-dark: #1e1e1e;

//--> mixin to set transparency
@mixin back-color-alpha($color, $value) {
  background-color: rgba($color, $value);
}
