//-------------------------------------------->
//--> Global color values
//-------------------------------------------->

//-------------------------------------------->
//--> color SCheme
//-------------------------------------------->
$color-primary: #083d77; //--> initial color - #14213d;
$color-secondary: #ffcd24; //--> initial color - #fca311;
$color-light: #ffffff; //--> retained
$color-light-two: #f1f1f1; //--> retained
$color-dark: #33393d; //--> initial color - #1e1e1e;

//-------------------------------------------->
//--> Fonts
//-------------------------------------------->
$font_red-hat-text: 'Red Hat Text', sans-serif;
$font_barlow: 'Barlow', sans-serif;
$font_nato: 'Noto Sans', sans-serif;

//-------------------------------------------->
//--> MIXINS
//-------------------------------------------->

//--> mixin to set font
@mixin set-font($font, $weight, $size, $color, $margin) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  margin: $margin;
}

//--> mixin to set transparency
@mixin back-color-alpha($color, $value) {
  background-color: rgba($color, $value);
}

// --> Set golbal fonts

$font_1: $font_red-hat-text;
$font_2: $font_barlow;
