@use '../../Theme/create-div.scss' as *;
@use '../../Theme/Theme.scss' as *;
@use '../../Theme/media-queries.scss' as *;

.card-container {
  @include div(100%, 20%, flex, $color-primary);
  min-width: 200px;
  min-height: 300px;
  align-items: center;
  padding: 40px 4%;
  cursor: url(../../assets/images/icons/card-hover-icon.png), auto;
  flex-direction: column;
  transform-style: preserve-3d;
  justify-content: center;
  gap: 20px;
  text-align: center;
  border-radius: 30px;
  padding-bottom: 6%;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba($color-dark, 0.4);
  }

  //   mobile and tablet screens
  @include media('medium-max') {
    min-height: 310px;
    min-width: 220px;
    padding-bottom: 13%;
    padding: 20px 5%;
  }

  @media (min-width: 801px) and (max-width: 1100px) {
    min-width: 150px;
    min-height: 200px;
  }
}

//--------------------------------------------> top icon divs
.card-circle--one {
  @include div(150px, 150px, flex, rgba($color-light, 0.4));
  border-radius: 75px;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: center;
  transform: translateZ(20px);

  //   mobile screen and tablets
  @include media('medium-max') {
    @include div(120px, 120px, flex, rgba($color-light, 0.4));
  }

  //   mid range screen optimization
  @media (min-width: 801px) and (max-width: 1100px) {
    @include div(100px, 100px, flex, rgba($color-light, 0.4));
  }
}
.card-circle--two {
  @include div(120px, 120px, flex, rgba($color-light, 0.6));
  border-radius: 65px;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: center;
  transform: translateZ(15px);

  //   mobile and tablet screens
  @include media('medium-max') {
    @include div(100px, 100px, flex, rgba($color-light, 0.4));
  }

  //   mid range screen optimization
  @media (min-width: 801px) and (max-width: 1100px) {
    @include div(80px, 80px, flex, rgba($color-light, 0.4));
  }
}

.card-circle--three {
  @include div(90px, 90px, flex, rgba($color-light, 0.8));
  border-radius: 65px;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: center;
  transform: translateZ(20px);

  //   mobile and tablet screen
  @include media('medium-max') {
    @include div(80px, 80px, flex, rgba($color-light, 0.4));
  }

  //   mid range screen optimization
  @media (min-width: 801px) and (max-width: 1100px) {
    @include div(60px, 60px, flex, rgba($color-light, 0.4));
  }
}

.card-circle--four {
  @include div(60px, 60px, flex, rgba($color-light, 0.9));
  border-radius: 65px;
  align-items: center;
  transform-style: preserve-3d;
  justify-content: center;
  transform: translateZ(15px);

  //   mobile and tablet screens
  @include media('medium-max') {
    @include div(60px, 60px, flex, rgba($color-light, 0.4));
  }

  //   mid range screen optimization
  @media (min-width: 801px) and (max-width: 1100px) {
    @include div(50px, 50px, flex, rgba($color-light, 0.4));
  }
}

//--------------------------------------------> top icon img
.card-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
  transform: translateZ(30px);

  //   mobile and tablet screens
  @include media('mobmedium-maxile') {
    width: 60px;
    height: 60px;
  }

  //   mid range screen optimization
  @media (min-width: 801px) and (max-width: 1100px) {
    width: 50px;
    height: 50px;
  }
}

//--------------------------------------------> card texts
.card-content--title {
  @include set-font(
    $font_barlow,
    600,
    clamp(1.3rem, 2vw, 2rem),
    $color-light-two,
    0
  );
  transform: translateZ(60px);
  text-shadow: 0 3px 9px rgba($color-dark, 0.4);
}

.card-content--text {
  @include set-font(
    $font_barlow,
    300,
    clamp(0.8rem, 1.4vw, 0.9rem),
    $color-light-two,
    0
  );
  transform: translateZ(50px);
  width: 85%;
}
